@(komaForm: Form[Koma])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

    <h1>Add a koma</h1>

    @form(routes.Application.saveKoma()) {

        <fieldset>

            @inputText(komaForm("name"), '_label -> "Koma name", '_help -> "")
			@select(komaForm("time"), Seq(("1","1"),("2","2"),("3","3"),("4","4"),("5","5")) , '_label -> "Time", '_help -> "")
			@select(komaForm("day"), Seq(("1","Mon"),("2","Tue"),("3","Wed"),("4","Thu"),("5","Fri")) , '_label -> "Day", '_help -> "")
            @inputText(komaForm("prof"), '_label -> "Prof name", '_help -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this Koma" class="btn primary"> or
            <a href="@routes.Application.renderListKoma()" class="btn">Cancel</a>
        </div>

    }

}