@(id: Long, komaForm: Form[Koma])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

    <h1>Edit koma</h1>

    @form(routes.Application.updateKoma(id)) {

        <fieldset>

            @inputText(komaForm("name"), '_label -> "Koma name", '_help -> "")
            @inputText(komaForm("day"), '_label -> "Time", '_help -> "")
            @inputText(komaForm("num"), '_label -> "Day", '_help -> "")
            @inputText(komaForm("prof"), '_label -> "Prof name", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this Koma" class="btn primary"> or
            <a href="@routes.Application.renderListKoma()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Application.deleteKoma(id), 'class -> "topRight") {
        <input type="submit"  value="delete" class="btn danger">
    }
}
