@(komas: List[Koma])

@import helper._

@main {
		<a class="btn success"  href="@routes.Application.createKoma()">Add a new Koma</a><br>

        <table>
            <tbody>
            	@for(koma <- komas ) {

                    <tr>
                        <td><a href="@routes.Application.editKoma(koma.id)">@koma.name</a></td>
                        <td>@koma.num</td>
                        <td>@koma.day</td>
                        <td>@koma.prof</td>
                    </tr>
                }
            </tbody>
        </table>
}